<html>  
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="statics/js/custom.js"></script>
          <!-- Google Fonts -->
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <!-- CSS Reset -->
        <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

        <!-- Milligram CSS minified -->
        <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

        <!-- You should properly set the path from the main file. -->

    </head>
    <body>
        <style type="text/css">
            .p {
                margin-bottom: 10px
            }    
        </style>
        <div class="container">
            <div class="row">
                <div class="column">
                    <h1>API Escuelas de Informática</h1>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h3>Rutas</h1>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h5><strong> / </strong></h5>
                    <p> Retorna la pagina principal. </p>
                    <code>Method: GET</code>
                </div> 
            </div>
            <div class="row">
                <div class="column">
                    <h5><strong> /getlugares/&lt;usuario_nombre&gt; </strong></h5>
                    <h5><strong> /getlugares </strong></h5>
                    <p> Retorna los lugares agregados por un usuario en particular o todos si usuario_nombre no es especificado. </p>
                    <code>Method: GET</code>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h5><strong> /getlugar/&lt;nombre_lugar&gt; </strong></h5>
                    <p> Retorna un lugar cuyo nombre sea nombre_lugar. </p>
                    <code>Method: GET</code>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h5><strong> /guardarlugar </strong></h5>
                    <p> Permite guardar un lugar en la base de datos.
                    Los datos serán considerados válidos si tienen la siguiente forma: 
                    </p>
                    <code>{"nombre": "CASA", "latlng": "2222/222", "descripcion": "es mi lugar", "usuario":"pablo1n7"} </code>
                    <code>Method: POST </code>
                </div>
            </div>
        </div>
    </body>

</html>
