<html>  
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="statics/js/custom.js"></script>
          <!-- Google Fonts -->
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <!-- CSS Reset -->
        <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

        <!-- Milligram CSS minified -->
        <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

        <!-- You should properly set the path from the main file. -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    </head>
    <body>
        <style type="text/css">
            .inline {display: inline}
            .method {
                background-color: #00ab40;
                color:white;
                font-weight: bold;
            }
            pre>code {
                white-space: normal
            }    
        </style>
        <div class="container">
            <div class="row">
                <div class="column">
                    <h1>API | PickMeApp </h1>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h3>Rutas</h1>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <code class="float-right method">GET</code>
                    <h5><strong> /getusuarios </strong></h5>
                    <p> Retorna los usuarios agregados a la aplicación</p>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <code class="float-right method">POST </code>
                    <h5 class="inline"><strong> /guardarusuario </strong></h5>
                    <p> Permite guardar un usuario en la base de datos.
                    Los datos serán considerados válidos si tienen la siguiente forma: 
                    </p>
                    <div>                    
                        <pre>                    
                            <code> 
                                { "nombre": "pablo1n7", "id_usuario": "123456789"} 
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <code class="float-right method">GET</code>
                    <h5 class="inline"><strong> /getlugares/&lt;usuario_nombre&gt; </strong></h5>
                    <h5><strong> /getlugares </strong></h5>
                    <p> Retorna los lugares agregados por un usuario en particular o todos si usuario_nombre no es especificado. </p>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <code class="float-right method">POST </code>
                    <h5 class="inline"><strong> /guardarlugar </strong></h5>
                    <p> Permite guardar un lugar en la base de datos.
                    Los datos serán considerados válidos si tienen la siguiente forma: 
                    </p>
                    <div>                    
                        <pre>                    
                            <code> 
                                { "nombre": "CASA", "latlng": "-42.22/-65.26", "descripcion": "es mi lugar", "usuario":"id_del_usuario" } 
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
        <div class="row">
                <div class="column">
                    <h3>Por SOCKET-IO</h1>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    
                    <h5><strong> Evento "connect" </strong></h5>
                    <p> Para conectarse con el socket se le debe indicar el id del usuario perteneciente al equipo {user_id=1234567}. Los usuarios deben ser cargados previamente.</p>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    
                    <h5 class="inline"><strong> Evento "message" </strong></h5>
                    <p> Permite enviar un mensaje a otro usuario, se le debe indicar nombre del usuario origen, nombre del destinatario y el mensaje. Si el usuario no está online, recibirá el mensaje cuando inicie una conexión con el socket.</p>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="column">
                        <h3>Pruebas en JS</h1>
                    </div>
                    <br>
                    <h7 class="inline"><strong> Conexión </strong></h7>
                    <div>                    
                        <pre>                    
                            <code> 
                                var socket = io.connect('http://' + document.domain + ':' + location.port,{ query: "user_id=1234562" });
                                <br>
                                socket.on('message', function(data) {
                                    console.log(data)
                                });
                            </code>
                        </pre>
                    </div>
                    <br>
                    <h7 class="inline"><strong> Envio de mensajes </strong></h7>
                    <div>                    
                        <pre>                    
                            <code> 
                               socket.emit("message","pablo1n7",'brunito_12',"hola que aseeee")
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
